{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{%block content%}
<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Reset Password
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

    <div class="site-section">
        <div class="container">
        <div class="row">
            <div class="col-md-12" data-aos="fade-up" data-aos-delay="100">
                <p>'Your password was changed.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}