{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}

{% block content %}

	<main class="main-content">
		
		<div class="fullwidth-block content">
			<div class="container">
				<h2 class="entry-title">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam</h2>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>

				<div class="team image-left">
					<figure class="team-image"><img src="dummy/person-1.jpg" alt="person-1"></figure>
					<h3 class="team-name">Steven Simon</h3>
					<small class="team-desc">Main mechaninc</small>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ut tenetur dicta deserunt fugiat itaque voluptates doloremque dolore accusamus suscipit quasi velit impedit quibusdam, fugit qui? Doloremque veritatis omnis inventore.</p>
					<div class="team-social">
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
				<div class="team image-left">
					<figure class="team-image"><img src="dummy/person-2.jpg" alt="person-2"></figure>
					<h3 class="team-name">George Stevens</h3>
					<small class="team-desc">Painter</small>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quisquam hic cum laboriosam, est saepe amet magni labore, corrupti recusandae dolores id in quidem atque, corporis animi, perferendis. Nostrum, laborum!</p>
					<div class="team-social">
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
				<div class="team image-left">
					<figure class="team-image"><img src="dummy/person-3.jpg" alt="person-3"></figure>
					<h3 class="team-name">David Smith</h3>
					<small class="team-desc">Engineer</small>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quisquam, odit! Mollitia, porro. Quidem officiis, harum tempora, voluptates distinctio quis illo temporibus, ea, nisi perspiciatis architecto. Voluptate voluptatibus, maiores atque.</p>
					<div class="team-social">
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
				<div class="team image-left">
					<figure class="team-image"><img src="dummy/person-4.jpg" alt="person-4"></figure>
					<h3 class="team-name">Howarrd Newman</h3>
					<small class="team-desc">Computer Specialist</small>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae repellat ipsum optio nam! Error at minus fugit est voluptatum, placeat, exercitationem, aspernatur dignissimos voluptate odio ea maiores eaque blanditiis! Placeat?</p>
					<div class="team-social">
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
			</div>
		</div>

	</main> <!-- .main-content -->

{% endblock %}