{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock %}

{% block content %}

	<main class="main-content">
		
		<div class="fullwidth-block content">
			<div class="container">
				<h2 class="entry-title">Feel free to reach out to us with any questions, feedback, or collaboration inquiries. We value your input and look forward to hearing from you.</h2>

				<div class="row">
					<div class="col-md-5">
						<form action="#" class="contact-form">
							<input type="text" id="name" placeholder="Name...">
							<input type="text" id="email" placeholder="Email...">
							<input type="text" id="website" placeholder="Website...">
							<textarea name="" id="message" placeholder="Message..."></textarea>
							<div class="text-right">
								<input type="submit" value="Send message">
							</div>
						</form>
					</div>
					<div class="col-md-6 col-md-offset-1">
						<div class="map-container">
							<div class="map"></div>
							<address>
								<strong>AI-Dynamix INC.</strong>
								<a href="mailto:office@aidynamix.com">office@aidynamix.com</a> <br>
								<span>Lagos, Nigeria</span>
								<a href="tel:+2349030695833">(+234) 903 069 5833</a>
							</address>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main> <!-- .main-content -->

{% endblock %}