{% extends 'layout.html' %}
{% load static %}


{% block title %} Home {% endblock %}

{% block style %}

{% endblock %}

		{% block content %}

			<main class="main-content">
				<div class="hero hero-slider">
					<ul class="slides">
						<li data-bg-image="{% static 'images/slide1.jpg' %}">
							<div class="container">
								<h2 class="slide-title">AI-Powered Code Review Assistant</h2>
								<p class="slide-desc">Utilizes the OpenAI API to provide insights and suggestions for code improvements...</p>
								<a href="{% url 'core:codehub' %}" class="button">Code Review</a>
							</div>
						</li>
						<li data-bg-image="{% static 'images/slide2.jpg' %}">
							<div class="container">
								<h2 class="slide-title">Automated Documentation Generator</h2>
								<p class="slide-desc">Generates comprehensive documentation for the software, streamlining the documentation process...</p>
								<a href="{% url 'core:automate' %}" class="button">Documentation</a>
							</div>
						</li>
						<li data-bg-image="{% static 'images/slide3.jpg' %}">
							<div class="container">
								<h2 class="slide-title">Automated Test Case Generator</h2>
								<p class="slide-desc">Creates thorough and exhaustive test cases, enhancing testing procedures...</p>
								<a href="{% url 'core:tester' %}" class="button">Testing</a>
							</div>
						</li>
					</ul>
				</div> <!-- .hero-slider -->

				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">Welcome to Our AI-Enhanced Development Platform</h2>
						<p class="section-desc">Explore the power of advanced AI technologies and collaborative tools designed to elevate your development experience.</p>

						<div class="row">
							
							<div class="counter">
								<i class="fa fa-code" aria-hidden="true" style="font-size: 70px;"></i>
								<h3 class="counter-num">120+</h3>
								<small class="counter-label">Code Reviewed</small>
							</div>
							
							
							<div class="counter">
								<i class="fa fa-book" aria-hidden="true" style="font-size: 70px;"></i>
								<h3 class="counter-num">95+</h3>
								<small class="counter-label">Documentation Generated</small>
							</div>
							
							
							<div class="counter">
								<i class="fa fa-flask" aria-hidden="true" style="font-size: 70px;"></i>
								<h3 class="counter-num">110+</h3>
								<small class="counter-label">Codes Tested</small>
							</div>
							
							
							<div class="counter last">
								<i class="fa fa-users" aria-hidden="true" style="font-size: 70px;"></i>
								<h3 class="counter-num">25+</h3>
								<small class="counter-label">Users at launch</small>
							</div>
							
						</div>
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->

				<div class="fullwidth-block dark-bg" data-bg-color="#1b1b1b">
					<div class="container">
						<h2 class="section-title">The Team</h2>
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="team">
									<figure class="team-image"><img src="{% static 'team/Olaniyan Daniel1.jpg' %}" alt="Olaniyan Daniel"></figure>
									<h3 class="team-name">Daniel Olaniyan</h3>
									<small class="team-desc">Team Lead</small>
									<div class="team-social">
										<a href=""><i class="fa fa-facebook"></i></a>
										<a href=""><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="team">
									<figure class="team-image"><img src="{% static 'team/abdusalam.jpg' %}" alt="person-2"></figure>
									<h3 class="team-name">Abdulsamod Azeez</h3>
									<small class="team-desc">Machine Learning Engineer</small>
									<div class="team-social">
										<a href=""><i class="fa fa-facebook"></i></a>
										<a href=""><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="team">
									<figure class="team-image"><img src="{% static 'team/clapetra.jpg' %}" alt="person-3"></figure>
									<h3 class="team-name">Clapetra Omaku</h3>
									<small class="team-desc">DevOps Analyst</small>
									<div class="team-social">
										<a href=""><i class="fa fa-facebook"></i></a>
										<a href=""><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="team">
									<figure class="team-image"><img src="{% static 'dummy/person-4.jpg' %}" alt="person-4"></figure>
									<h3 class="team-name">Gerard Magla</h3>
									<small class="team-desc">Computer Specialist</small>
									<div class="team-social">
										<a href=""><i class="fa fa-facebook"></i></a>
										<a href=""><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="team">
									<figure class="team-image"><img src="{% static 'team/david.jpg' %}" alt="person-4"></figure>
									<h3 class="team-name">David Ongora</h3>
									<small class="team-desc">Backend Developer</small>
									<div class="team-social">
										<a href=""><i class="fa fa-facebook"></i></a>
										<a href=""><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
							
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->

				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">Why choose us?</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="feature">
									<div class="feature-icon">
										<img src="{% static 'images/icon-wheel-white.png' %}" alt="Wheel Icon">
									</div>
									<h3 class="feature-title">Accelerate Development with Smart Insights</h3>
									<p>Choose AI-Dynamix for an accelerated development process. Our AI-Powered Code Review Assistant provides intelligent insights, helping you write cleaner, more efficient code and significantly reducing development time.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature">
									<div class="feature-icon">
										<img src="{% static 'images/icon-wrench-white.png' %}" alt="">
									</div>
									<h3 class="feature-title">Effortless Documentation Excellence</h3>
									<p>Opt for AI-Dynamix to effortlessly maintain top-notch documentation. Our Automated Documentation Generator ensures comprehensive and organized documentation, allowing your team to focus on building great software without the documentation hassle.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature">
									<div class="feature-icon">
										<img src="{% static 'images/icon-key-white.png' %}" alt="Key Icon">
									</div>
									<h3 class="feature-title">Reliable Software, Every Time</h3>
									<p>Trust AI-Dynamix for reliable software. Our Automated Test Case Generator creates exhaustive test cases, ensuring your software's robustness. Choose us for dependable solutions that stand the test of time.</p>
								</div>
							</div>
						</div>
						<!-- .row -->
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->

				<div class="fullwidth-block dark-bg" data-bg-color="#f63f3f">
					<div class="container">
						<h2 class="section-title">Features</h2>
						<ul class="news">
							<li>
								<div class="entry-date"><span class="date">1</span><span class="month">Review</span></div>
								<div class="entry-summary">Experience the power of our Code Review Assistant, meticulously crafted by the AI-Dynamix team. Harnessing the capabilities of the cutting-edge OpenAI API, it provides insightful suggestions for code improvements, enhancing the efficiency and effectiveness of your development process.</div>
							</li>
							<li>
								<div class="entry-date"><span class="date">2</span><span class="month">Docs</span></div>
								<div class="entry-summary">Streamline your documentation process with ease. Our AI-Dynamix platform automates the generation of comprehensive documentation for your software. Say goodbye to documentation hassles and hello to clear, organized, and hassle-free project documentation.</div>
							</li>
							<li>
								<div class="entry-date"><span class="date">3</span><span class="month">Testing</span></div>
								<div class="entry-summary">Ensure the reliability of your software with our Automated Test Case Generator. By creating thorough and exhaustive test cases, our feature contributes to the robustness of your applications. Choose AI-Dynamix for dependable solutions that stand the test of time.</div>
							</li>
						</ul>
						{% comment %} <div class="text-center">
							<a href="#" class="button invert">Show more news</a>
						</div> {% endcomment %}
					</div>
				</div>

			</main> <!-- .main-content -->

		{% endblock  %}