{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	
		{% if title %}
        <title>AI-Dynamix | {{title}}</title>
		{% else %}
			<title>AI-Dynamix</title>
		{% endif %}
	
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	
		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'style.css' %}">
	
		<!--[if lt IE 9]>
		<script src="{% static 'js/ie-support/html5.js' %}"></script>
		<script src="{% static 'js/ie-support/respond.js' %}"></script>
		<![endif]-->
	
	</head>


	<body class="header-collapse">
		
		<div id="site-content">
			
			<header class="site-header">
				<div class="container">
					<a id="branding" href="index.html">
						<img src="{% static 'images/logo.png' %}" alt="Dynamix" class="logo">
						<h1 class="site-title">AI<span>Dynamix</span></h1>
					</a>

					<nav class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item {% if request.path == '/' %}current-menu-item{% endif %}"><a href="{% url 'index' %}">Home</a></li>
							<li class="menu-item {% if request.path == '/about' %}current-menu-item{% endif %}"><a href="{% url 'about' %}">About</a></li>
							<li class="menu-item {% if request.path == '/services' %}current-menu-item{% endif %}"><a href="{% url 'services' %}">Services</a></li>
							<li class="menu-item {% if request.path == '/dynamix' %}current-menu-item{% endif %}"><a href="{% url 'dynamix' %}">Dynamix</a></li>
							<li class="menu-item {% if request.path == '/contact' %}current-menu-item{% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
							<li class="menu-item {% if request.path == '/team' %}current-menu-item{% endif %}"><a href="{% url 'team' %}">Team</a></li>
							{% if user.is_authenticated %}
							<li class="menu-item {% if request.path == '/user/profile' %}current-menu-item{% endif %}"><a href="{% url 'user:profile' %}">{{ user.username }}</a></li>
							
							<li class="menu-item {% if request.path == '/account/logout' %}current-menu-item{% endif %}"><a href="{% url 'account:logout' %}">Log Out</a></li>
							{% else %}
							<li class="menu-item {% if request.path == '/account/login' %}current-menu-item{% endif %}"><a href="{% url 'account:login' %}">Sign in</a></li>

							<li class="menu-item {% if request.path == '/account/register' %}current-menu-item{% endif %}"><a href="{% url 'account:register' %}">Signup</a></li>
							{% endif %}
						</ul>
					</nav>
					<nav class="mobile-navigation"></nav>
				</div>
			</header> <!-- .site-header -->


            {% block content %}
      
            {% endblock  %}

<footer class="site-footer">
    <div class="container">
        <div class="subscribe-form">
            <form action="#">
                <input type="text" placeholder="Enter your email to subscribe...">
                <button type="submit"><img src="{% static 'images/icon-envelope-white.png' %}" alt=""></button>
            </form>
        </div>
        <div class="social-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
        <div class="copy">
            <p>Copyright 2014 AI-Dynamix. All rights reserved.</p>
        </div>
    </div>
</footer> <!-- .site-footer -->

</div> <!-- #site-content -->



<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

</body>

</html>